*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    
}
body{
    height: 100%;
    background-color: #F1F5F9;
}
.App{
    display: flex;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.block{
    display: block;
}
.dnn{
    display: none;
}